<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Heart Disease Prediction</title>
</head>
<body>
    <h1>Welcome to Heart Disease Prediction</h1>
    <form action="/predict" method="post">
        <label>Smoking:</label>
        <input type="text" name="Smoking"><br>

        <label>Alcohol Drinking:</label>
        <input type="text" name="AlcoholDrinking"><br>

        <label>Stroke:</label>
        <input type="text" name="Stroke"><br>

        <label>Diff Walking:</label>
        <input type="text" name="DiffWalking"><br>

        <label>Physical Activity:</label>
        <input type="text" name="PhysicalActivity"><br>

        <label>Asthma:</label>
        <input type="text" name="Asthma"><br>

        <label>Kidney Disease:</label>
        <input type="text" name="KidneyDisease"><br>

        <label>Skin Cancer:</label>
        <input type="text" name="SkinCancer"><br>

        <input type="submit" value="Predict">
    </form>
</body>
</html>
